<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Gomodo">
  <meta name="author" content="Ervandra Halim">
  <link rel="icon" href="favicon.ico">
  <title>Orders | Gomodo for Business</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../lib/css/fontface.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="dashboard-nav">
    <div class="navigation">
      <div class="dashboard-logo">
        <a href="#"><img src="../img/logo.png" alt="GOMODO"></a>
      </div>
      <div class="dashboard-profile">
        <div class="profile-image">
          <img src="../img/profile-picture.png" alt="PROFILE">
        </div>
        <div class="profile-info">
          <h3>Dody Johanjaya</h3>
          <h5>Adventurer</h5>
        </div>
      </div>
      <div class="dashboard-menu-toggle">
        <button class="dashboard-toggle" data-toggle="collapse" data-target="#dashboard-menu"><span class="fa fa-bars"></span></button>
      </div>
      <div class="dashboard-menu collapse" id="dashboard-menu">
        <nav id="mainmenu">
          <ul>
            <li><a href="dashboard.html"><span class="fa fa-dashboard"></span>Dashboard</a></li>
            <li class="active"><a href="order.html"><span class="fa fa-briefcase"></span>Order</li>
            <li><a href="product.html"><span class="fa fa-archive"></span>Product</a></li>
            <li><a href="settings.html"><span class="fa fa-link"></span>Settings</a></li>
            <li><a href="help.html"><span class="fa fa-question-circle"></span>Help</a></li>
          </ul>
        </nav>
        <nav class="sticky-nav">
          <ul>
            <li><a href="#"><span class="fa fa-sign-out"></span>Log Out</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section id="content">
    <div class="dashboard-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="dashboard-title">
              <h1>Order</h1>
              <div class="dashboard-tools">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li>Order</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col">

            <div class="dashboard-cta">
              <a href="order-detail.html" class="btn btn-primary btn-cta">New Order</a>
            </div>

            <div class="widget" id="order">
              <div class="widget-header">
                <h3>List of Order</h3>
                <div class="widget-tools tools-full">
                  <div class="widget-search">
                    <form action="#">
                      <button type="submit" class="btn-search"><span class="fa fa-search"></span></button>
                      <input type="search" id="q" name="q" class="form-control" placeholder="Search guests or order.." />
                    </form>
                  </div>
                </div>
              </div>
              <div class="widget-content widget-full">
                <div class="widget-table">
                  <div class="responsive-table">
                    <table class="table-border-bottom tablesorter" id="order-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Invoice No.</th>
                          <th>Product</th>
                          <th>Num of Guest</th>
                          <th>Date</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="order-detail.html">Marc Anthony</a></td>
                          <td>INV-001</td>
                          <td>Expendable Bromo</td>
                          <td>1</td>
                          <td>30 April 2018</td>
                          <td>PAID</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">Indriani Oka</a></td>
                          <td>INV-002</td>
                          <td>Expendable Bromo</td>
                          <td>3</td>
                          <td>30 April 2018</td>
                          <td>PAID</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">Gamaliel</a></td>
                          <td>INV-003</td>
                          <td>Expendable Bromo</td>
                          <td>4</td>
                          <td>1 May 2018</td>
                          <td>PENDING</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">Jeni Tobing</a></td>
                          <td>INV-004</td>
                          <td>Expendable Bromo</td>
                          <td>10</td>
                          <td>1 May 2018</td>
                          <td>PENDING</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">John Doe</a></td>
                          <td>INV-005</td>
                          <td>Expendable Bromo</td>
                          <td>3</td>
                          <td>1 May 2018</td>
                          <td>PENDING</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">Ervandra Halim</a></td>
                          <td>INV-006</td>
                          <td>Ubud Ville</td>
                          <td>8</td>
                          <td>2 May 2018</td>
                          <td>PAID</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">Anthony Dekoci</a></td>
                          <td>INV-007</td>
                          <td>Ubud Ville</td>
                          <td>3</td>
                          <td>2 May 2018</td>
                          <td>PENDING</td>
                        </tr>
                        <tr>
                          <td><a href="order-detail.html">Ferandy Anthonius</a></td>
                          <td>INV-008</td>
                          <td>Ubud Ville</td>
                          <td>32</td>
                          <td>3 May 2018</td>
                          <td>PAID</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pagination justify-content-end">
                    <ul>
                      <li class="text first"><a href="#">First</a></li>
                      <li class="current">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="ellipsis">...</li>
                      <li><a href="#">10</a></li>
                      <li class="text last"><a href="#">Last</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../lib/js/jquery-slim.min.js"></script>
  <script src="../lib/js/bootstrap.min.js"></script>
  <script src="../js/operator.js"></script>
  <script src="../lib/js/jquery.tablesorter.min.js"></script>
  <script>
    jQuery('.tablesorter').tablesorter();
  </script>
</body>

</html>