<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Gomodo">
  <meta name="author" content="Ervandra Halim">
  <link rel="icon" href="favicon.ico">
  <title>Checkout | Gomodo</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../lib/css/fontface.min.css" rel="stylesheet" />
  <link href="../css/frontpage.css" rel="stylesheet" />
  <link href="../css/checkout.css" rel="stylesheet" />
</head>

<body>

  <header id="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="navigation d-flex align-items-center">
              <div class="logo">
                <a href="#"><img src="../img/logo-dodyadventure.png" alt="LOGO CLIENT"></a>
              </div>
              <div class="mainmenu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li class="active"><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Retreive Booking</a></li>
                </ul>
              </div>
              <div class="mobile-nav">
                <div class="btn-mobile-nav"><span class="fa fa-caret-down"></span></div>
              </div>
            </div>
            <div class="right-nav opened">
              <div class="mobilemenu">
                <ul>
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Retreive Booking</a></li>
                </ul>
              </div>
              <div class="searchtop">
                <form action="#">
                  <button type="submit" class="btn-search"><span class="fa fa-search"></span></button>
                  <input type="search" id="q" name="q" class="form-control" placeholder="Search your favourite experience.." />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="content">

    <div id="maincontent" class="bg-grey">
      <div class="checkout">
        <div class="container">
          <div class="row">
            <div class="col">

              <div class="checkout-steps">
                <ul>
                  <li class="active"><strong>1</strong>Guest Information</li>
                  <li><strong>2</strong>Payment Information</li>
                  <li><strong>3</strong>Booked</li>
                </ul>
              </div>

              <form>

                <div class="card-activity">
                  <div class="activity-image">
                    <img src="../img/expandable-bromo.png" alt="EXPANDABLE BROMO" height="128">
                  </div>
                  <div class="activity-detail">
                    <h2>Expendable Bromo</h2>
                    <div class="activity-meta">
                      <h4>Nature Activity</h4>
                      <h4>Malang, East Java</h4>
                    </div>
                    <div class="activity-info">
                      <h5><span class="fa fa-calendar"></span> 16 March 2018</h5>
                      <h5><span class="fa fa-male"></span> 3 Guests</h5>
                    </div>
                  </div>
                </div>

                <div class="card-form widget">
                  <h3>Guests</h3>
                  <div class="widget-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label for="booker-name">Booker Name</label>
                          <input type="text" id="booker-name" name="booker-name" class="form-control" value="John Doe">
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label for="nationality">Nationality</label>
                          <select name="nationality" id="nationality" class="form-control">
                            <option value="1">Indonesia</option>
                            <option value="2">Korea</option>
                            <option value="3">Japan</option>
                            <option value="4">United States</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label for="booker-email">Booker Email</label>
                          <input type="email" id="booker-email" name="booker-email" class="form-control" value="john.doe@gmail.com">
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group">
                          <label for="booker-phone">Booker Phone</label>
                          <input type="number" id="booker-phone" name="booker-phone" class="form-control" value="087712345678">
                        </div>
                      </div>
                    </div>
                    <hr class="full-hr" />
                    <div class="row">
                      <div class="col sm-12 col-md-6">
                        <div class="form-group multiple">
                          <label for="guest-name">Guest Name</label>
                          <input type="text" id="guest-name" name="guest-name" class="form-control" value="Eleanor Rigby">
                          <input type="text" id="guest-name2" name="guest-name2" class="form-control" value="Tom Doe">
                        </div>
                      </div>
                      <div class="col sm-12 col-md-6">
                        <div class="form-group multiple">
                          <label for="guest-nationality">Nationality</label>
                          <select name="guest-nationality" id="guest-nationality" class="form-control">
                            <option value="2">Australian</option>
                            <option value="1">Indonesia</option>
                            <option value="2">Korea</option>
                            <option value="3">Japan</option>
                            <option value="4">United States</option>
                          </select>
                          <select name="guest-nationality2" id="guest-nationality2" class="form-control">
                            <option value="2">England</option>
                            <option value="1">Indonesia</option>
                            <option value="2">Korea</option>
                            <option value="3">Japan</option>
                            <option value="4">United States</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-form widget">
                  <h3>Note to Operator</h3>
                  <div class="widget-content">
                    <div class="form-group">
                      <label for="note-to-operator">You could add some important note to our operators.</label>
                      <textarea name="note-to-operator" id="note-to-operator" class="form-control" rows="3" placeholder="Type notes to our operators here..."></textarea>
                    </div>
                  </div>
                </div>

                <div class="snackbar alert alert-dismissible fade show" role="alert">
                  <p>This price does not include entrance fee for foreigner traveler.</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="DISMISS">
                    <span aria-hidden="true">DISMISS</span>
                  </button>
                </div>

                <div class="footer-filler"></div>

                <footer id="checkout-footer">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="d-flex justify-content-end align-items-center">
                          <div class="checkout-price">
                            <h5>Grand Total</h5>
                            <h3>Rp 1.050.000</h3>
                          </div>
                          <div class="checkout-button">
                            <button type="submit" class="btn btn-checkout">Proceed to Payment</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </footer>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <script src="../lib/js/jquery-slim.min.js"></script>
  <script src="../lib/js/bootstrap.min.js"></script>
  <script src="../js/client.js"></script>
</body>

</html>