<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Gomodo">
  <meta name="author" content="Ervandra Halim">
  <link rel="icon" href="favicon.ico">
  <title>Home | Gomodo</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../lib/css/fontface.min.css" rel="stylesheet" />
  <link href="../css/frontpage.css" rel="stylesheet" />
</head>

<body class="home" data-spy="scroll" data-target=".mainmenu" data-offset="140">

  <header id="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="navigation d-flex align-items-center">
              <div class="logo">
                <a href="#"><img src="../img/logo-dodyadventure.png" alt="LOGO CLIENT"></a>
              </div>
              <div class="mainmenu" data-offset-top="0">
                <ul class="nav">
                  <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Retreive Booking</a></li>
                </ul>
              </div>
              <div class="mobile-nav">
                <div class="btn-mobile-nav"><span class="fa fa-caret-down"></span></div>
              </div>
            </div>
            <div class="right-nav opened">
              <div class="mobilemenu">
                <ul>
                  <li class="active"><a href="#home">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="#">Retreive Booking</a></li>
                </ul>
              </div>
              <div class="searchtop">
                <form action="#">
                  <button type="submit" class="btn-search"><span class="fa fa-search"></span></button>
                  <input type="search" id="q" name="q" class="form-control" placeholder="Search your favourite experience.." />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="content" class="home">

    <div class="hero half" id="home">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Be wild, <br />Be Inspired!</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="heading" id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm col-md-8 text-center">
            <h2 class="verified">Welcome to <strong>Dody Adventure!</strong></h2>
            <p>Prepare your gears and you! We offer lux and memorable trip around Indonesia! You could choose or
              customize your adventure.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="featured-products">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 col-md-4">
            <div class="featured card">
              <div class="card-img">
                <img src="../img/featured-1.png" alt="FEATURED">
              </div>
              <div class="card-content">
                <h5 class="featured-category">Nature Activity</h5>
                <h3 class="featured-title">Expandable Bromo</h3>
                <div class="featured-info">
                  <h5 class="featured-location">
                    <span class="fa fa-map-marker"></span>
                    Malang, Jawa Timur
                  </h5>
                  <h5 class="featured-time">
                    <span class="fa fa-clock-o"></span>
                    1 hour trip
                  </h5>
                  <blockquote>
                    <p>Just like its name, expandable! We enjoyed the whole trip and the services.</p>
                    <cite>Pietro Maximoff, Sokovia</cite>
                  </blockquote>
                </div>
              </div>
              <a href="#" class="featured-link">Expandable Bromo</a>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="featured card">
              <div class="card-img">
                <img src="../img/featured-2.png" alt="FEATURED">
              </div>
              <div class="card-content">
                <h5 class="featured-category">Nature Activity</h5>
                <h3 class="featured-title">Ubud Ville</h3>
                <div class="featured-info">
                  <h5 class="featured-location"><span class="fa fa-map-marker"></span> Gianyar, Bali</h5>
                  <h5 class="featured-time"><span class="fa fa-clock-o"></span>1 hour trip</h5>
                  <blockquote>
                    <p>We booked our Ubud Ville with Dody was excellent and memorable.</p>
                    <cite>Maria, Bulgaria</cite>
                  </blockquote>
                </div>
              </div>
              <a href="#" class="featured-link">Expandable Bromo</a>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="featured card">
              <div class="card-img">
                <img src="../img/featured-3.png" alt="FEATURED">
              </div>
              <div class="card-content">
                <h5 class="featured-category">City Tour</h5>
                <h3 class="featured-title">Urban Jakarta</h3>
                <div class="featured-info">
                  <h5 class="featured-location"><span class="fa fa-map-marker"></span> Jakarta Barat, DKI Jakarta</h5>
                  <h5 class="featured-time"><span class="fa fa-clock-o"></span>2 hours trip</h5>
                </div>
              </div>
              <a href="#" class="featured-link">Expandable Bromo</a>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <div class="featured-more text-right">
              <p><a href="#">See more trip options ></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="footer-content" id="contact">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>About Us</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-7 col-lg-8">
            <p>Dody Adventure was established in 2012 by Indonesian adventure people who have passions in travelling,
              adventure activities, culture exploration and documentary. Based on our years of experience, skills and
              knowledge, we develop a wide range of trip packages and events that are unique, unforgettable and
              valuable for our customers.</p>
            <div class="footer-address">
              <ul class="d-flex flex-wrap">
                <li>
                  <span class="fa fa-home"></span>
                  Jl. Serayu 1, Jakarta Pusat 10150
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  +62 81234567890
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-5 col-lg-4">
            <div class="footer-contact">
              <ul>
                <li>
                  <a href="#">
                    <span class="fa fa-envelope"></span>
                    dodyadventure18@gmail.com
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-facebook"></span>
                    dodyadventure18
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-twitter"></span>
                    @dodyadventure18
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="copyright text-center">
              Copyright (c) 2018. Powered by <img src="../img/logo-secondary.png" alt="GOMODO" height="32">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="../lib/js/jquery-slim.min.js"></script>
  <script src="../lib/js/bootstrap.min.js"></script>
  <script src="../js/client.js"></script>
</body>

</html>