<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Gomodo">
  <meta name="author" content="Ervandra Halim">
  <link rel="icon" href="favicon.ico">
  <title>Expandable Bromo | Gomodo</title>
  <link href="../lib/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../lib/css/fontface.min.css" rel="stylesheet" />
  <link href="../css/frontpage.css" rel="stylesheet" />
  <link href="../css/product.css" rel="stylesheet" />
</head>

<body>

  <header id="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="navigation d-flex align-items-center">
              <div class="logo">
                <a href="#"><img src="../img/logo-dodyadventure.png" alt="LOGO CLIENT"></a>
              </div>
              <div class="mainmenu" data-offset-top="0">
                <ul class="nav">
                  <!-- <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                  <li class="nav-item"><a class="nav-link active" href="#">Retreive Booking</a></li> -->
                </ul>
              </div>
              <div class="mobile-nav">
                <div class="btn-mobile-nav"><span class="fa fa-caret-down"></span></div>
              </div>
            </div>
            <div class="right-nav opened">
              <div class="mobilemenu">
                <ul>
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Retreive Booking</a></li>
                </ul>
              </div>
              <div class="searchtop">
                <form action="#">
                  <button type="submit" class="btn-search"><span class="fa fa-search"></span></button>
                  <input type="search" id="q" name="q" class="form-control" placeholder="Search your favourite experience.." />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="content">

    <div id="maincontent">
      <div class="product-detail">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8 order-2 order-md-1">
              <h1>Expandable Bromo</h1>
              <div class="product-meta">
                <h4 id="product-category">Nature Activity</h4>
                <h4>Guided by <a href="#">Dody Johanjaya</a></h4>
              </div>
              <hr />
              <div class="product-demography">
                <h3><span class="fa fa-map-marker"></span> Malang, Jawa Timur</h3>
                <h3><span class="fa fa-clock-o"></span> 1 hour</h3>
                <h3><span class="fa fa-comments-o"></span> Guided in English, Indonesia, Javanese</h3>
                <h3 class="hide-desktop"><span class="fa fa-globe"></span> <a href="#">www.dodyadventure.com</a></h3>
              </div>
              <hr />
              <div class="product-short-description">
                <p>Expendable Bromo has became trending search this week. More than 1,000 people viewed this place
                  recently.</p>
              </div>
              <hr />
              <div class="product-description">
                <h2>About Expandable Bromo</h2>
                <p>Mount Bromo (Indonesian: Gunung Bromo), is an active volcano and part of the Tengger massif, in East
                  Java, Indonesia. At 2,329 metres (7,641 ft) it is not the highest peak of the massif, but is the most
                  well known. The massif area is one of the most visited tourist attractions in East Java, Indonesia.
                  The volcano belongs to the Bromo Tengger Semeru National Park. The name of Bromo derived from
                  Javanese pronunciation of Brahma, the Hindu creator god.</p>
              </div>
              <hr />
              <div class="product-meeting-point">
                <h2>Meeting Point</h2>
                <div class="product-map embed-responsive embed-responsive-21by9">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.9524806037107!2d106.82956831536741!3d-6.137086995556494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5f7baf70581%3A0x70e8d1039f3c55f5!2sYu+Design!5e0!3m2!1sen!2sid!4v1538713541225"
                    width="600" height="450" frameborder="0" style="border:0" class="embed-responsive-item"
                    allowfullscreen></iframe>
                </div>
              </div>
              <hr />
              <div class="product-itineraries">
                <h2>Itinerary</h2>
                <div class="product-tabs">
                  <ul class="nav nav-tabs" id="itineraryTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="day-1-tab" data-toggle="tab" href="#itinerary-day-1" role="tab"
                        aria-controls="day-1" aria-selected="true">Day 1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="day-2-tab" data-toggle="tab" href="#itinerary-day-2" role="tab"
                        aria-controls="day-2" aria-selected="false">Day 2</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="itineraryTabContent">
                    <div class="tab-pane fade show active" id="itinerary-day-1" role="tabpanel" aria-labelledby="day-1-tab">
                      <table>
                        <tr>
                          <td>07.45</td>
                          <td>:</td>
                          <td>Tiba di kota malang (Bagi peserta yg naik ka matarmaja)</td>
                        </tr>
                        <tr>
                          <td>08.00</td>
                          <td>:</td>
                          <td>Meeting point & kordinasi peserta di stasiun malang (Kota Baru)</td>
                        </tr>
                        <tr>
                          <td>09.00</td>
                          <td>:</td>
                          <td>Wisata Candi Jago Tumpang</td>
                        </tr>
                        <tr>
                          <td>10.30</td>
                          <td>:</td>
                          <td>Menuju Homestay (Check In)</td>
                        </tr>
                        <tr>
                          <td>12.00</td>
                          <td>:</td>
                          <td>Istirahat – Sholat - Makan (Include)</td>
                        </tr>
                        <tr>
                          <td>12.30</td>
                          <td>:</td>
                          <td>Persiapan River Tubing</td>
                        </tr>
                        <tr>
                          <td>13.30</td>
                          <td>:</td>
                          <td>Kegiatan River Tubing dengan rute pengarungan 4km</td>
                        </tr>
                        <tr>
                          <td>15.30</td>
                          <td>:</td>
                          <td>Selesai River Tubing & kembali ke Homestay (Mandi Bilas2 & Istirahat)</td>
                        </tr>
                        <tr>
                          <td>19.00</td>
                          <td>:</td>
                          <td>Makan Malam ( Include )</td>
                        </tr>
                        <tr>
                          <td>21.00</td>
                          <td>:</td>
                          <td>Istirahat / Tidur</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="itinerary-day-2" role="tabpanel" aria-labelledby="day-2-tab">
                      <table>
                        <tr>
                          <td>07.45</td>
                          <td>:</td>
                          <td>Tiba di kota malang (Bagi peserta yg naik ka matarmaja)</td>
                        </tr>
                        <tr>
                          <td>08.00</td>
                          <td>:</td>
                          <td>Meeting point & kordinasi peserta di stasiun malang (Kota Baru)</td>
                        </tr>
                        <tr>
                          <td>09.00</td>
                          <td>:</td>
                          <td>Wisata Candi Jago Tumpang</td>
                        </tr>
                        <tr>
                          <td>10.30</td>
                          <td>:</td>
                          <td>Menuju Homestay (Check In)</td>
                        </tr>
                        <tr>
                          <td>12.00</td>
                          <td>:</td>
                          <td>Istirahat – Sholat - Makan (Include)</td>
                        </tr>
                        <tr>
                          <td>12.30</td>
                          <td>:</td>
                          <td>Persiapan River Tubing</td>
                        </tr>
                        <tr>
                          <td>13.30</td>
                          <td>:</td>
                          <td>Kegiatan River Tubing dengan rute pengarungan 4km</td>
                        </tr>
                        <tr>
                          <td>15.30</td>
                          <td>:</td>
                          <td>Selesai River Tubing & kembali ke Homestay (Mandi Bilas2 & Istirahat)</td>
                        </tr>
                        <tr>
                          <td>19.00</td>
                          <td>:</td>
                          <td>Makan Malam ( Include )</td>
                        </tr>
                        <tr>
                          <td>20.00</td>
                          <td>:</td>
                          <td>Api Unggun</td>
                        </tr>
                        <tr>
                          <td>21.00</td>
                          <td>:</td>
                          <td>Istirahat / Tidur</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="product-book">
                <a href="checkout.html" class="btn btn-primary btn-book">Special Request Itenerary</a>
              </div>
            </div>

              <div class="col-sm-12 col-md-5 col-lg-4 order-1 order-md-2">
                <div class="product-preview">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner product-image">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="../img/expandable-bromo.png" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../img/expandable-bromo.png" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../img/expandable-bromo.png" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6 no-padding2">
                      <div class="form-group">
                        <label class="label-product" for="booker-date">Booking Date</label>
                        <input type="text" id="booker-date" name="booker-date" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 no-padding2">
                      <div class="form-group">
                        <label class="label-product" for="booker-time">Booking Time</label>
                        <input type="text" id="booker-time" name="booker-time" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6 no-padding2">
                      <div class="form-group">
                        <label class="label-product" for="booker-adult">
                          <span class="fa fa-male"></span>
                          Adults
                        </label>
                        <select name="guest" id="guest" class="form-control">
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                        </select>
                      </div>
                    </div> 
                    <div class="col-sm-12 col-md-6 no-padding2">
                      <div class="form-group">
                        <label class="label-product" for="booker-child">
                          <span class="fa fa-child"></span>
                          Childrens
                        </label>
                        <select name="guest" id="guest" class="form-control">
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                        </select>
                      </div>
                    </div> 
                  </div>
                  <div class="product-tools d-flex justify-content-between">
                    <div class="product-reputation">
                      <h4><strong id="price">Rp 350.000</strong> / pax</h4>
                      <div class="product-rating d-flex">
                        <div class="product-stars">
                          <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                            class="fa fa-star"></span><span class="fa fa-star"></span>
                        </div>
                        <p>56 Guests</p>
                      </div>
                    </div>
                    <div class="product-book">
                      <a href="checkout.html" class="btn btn-primary btn-book">Book Trip</a>
                    </div>
                  </div>
                  <hr />
                  <div class="product-sharing d-flex justify-content-between">
                    <div class="share-social">
                      <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-ellipsis-h"></span></a></li>
                      </ul>
                    </div>
                    <div class="add-wishlist">
                      <a href="#" class="btn-wishlist">Add to Wishlist <span class="fa fa-heart-o"></span></a>
                    </div>
                  </div>
                </div>
             </div>

              <!-- <div class="product-preview">
                <div class="product-image">
                  <img src="../img/expandable-bromo.png" alt="EXPANDABLE BROMO" />
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6 no-padding2">
                    <div class="form-group">
                      <label for="booker-date">Booking Date</label>
                      <input type="text" id="booker-date" name="booker-date" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 no-padding2">
                    <div class="form-group">
                      <label for="booker-time">Booking Time</label>
                      <input type="text" id="booker-time" name="booker-time" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 no-padding2">
                      <div class="form-group">
                        <label for="booker-adult">Adults</label>
                        <select name="guest" id="guest" class="form-control">
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                        </select>
                      </div>
                    </div> 
                    <div class="col-sm-12 col-md-6 no-padding2">
                        <div class="form-group">
                          <label for="booker-child">Childrens</label>
                          <select name="guest" id="guest" class="form-control">
                            <option value="2">1</option>
                            <option value="3">2</option>
                            <option value="4">3</option>
                          </select>
                        </div>
                      </div> 
                </div>
                <div class="product-tools d-flex justify-content-between">
                  <div class="product-reputation">
                    <h4><strong id="price">Rp 350.000</strong> / pax</h4>
                    <div class="product-rating d-flex">
                      <div class="product-stars">
                        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span
                          class="fa fa-star"></span><span class="fa fa-star"></span>
                      </div>
                      <p>56 Guests</p>
                    </div>
                  </div>
                  <div class="product-book">
                    <a href="checkout.html" class="btn btn-primary btn-book">Book Trip</a>
                  </div>
                </div>
                <hr />
                <div class="product-sharing d-flex justify-content-between">
                  <div class="share-social">
                    <ul>
                      <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                      <li><a href="#"><span class="fa fa-ellipsis-h"></span></a></li>
                    </ul>
                  </div>
                  <div class="add-wishlist">
                    <a href="#" class="btn-wishlist">Add to Wishlist <span class="fa fa-heart-o"></span></a>
                  </div>
                </div>
              </div> -->
           
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="booking-modal-Label"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="booking-month">
              <h5 class="modal-title" id="booking-modal-Label">
                <span id="month-name">March 2018</span>
                <span class="month-nav">
                  <a href="#" class="month-prev"><span class="fa fa-angle-left"></span></a>
                  <a href="#" class="month-next"><span class="fa fa-angle-right"></span></a>
                </span>
              </h5>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="timepicker">
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">06:00</span>
              </label>
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">08:00</span>
              </label>
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">10:00</span>
              </label>
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">12:00</span>
              </label>
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">14:00</span>
              </label>
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">16:00</span>
              </label>
              <label>
                <input type="radio" name="bookingtime">
                <span class="time">18:00</span>
              </label>
            </div>

            <div class="date-picker">
              <div class="date-picker-header">
                <div class="day-name">Sun</div>
                <div class="day-name">Mon</div>
                <div class="day-name">Tue</div>
                <div class="day-name">Wed</div>
                <div class="day-name">Thu</div>
                <div class="day-name">Fri</div>
                <div class="day-name">Sat</div>
              </div>
              <div class="date-picker-dates">
                <div class="date-row">
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate" checked>
                      <span class="date">25</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate" checked>
                      <span class="date">26</span>
                    </label>
                    <div class="low-stock">3 spots left</div>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">27</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">28</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">1</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">2</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">3</span>
                    </label>
                  </div>
                </div>

                <div class="date-row">
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">4</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">5</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">6</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">7</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">8</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">9</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">10</span>
                    </label>
                  </div>
                </div>

                <div class="date-row">
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">11</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">12</span>
                    </label>

                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">13</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">14</span>
                    </label>
                    <div class="low-stock">2 spots left</div>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">15</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">16</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">17</span>
                    </label>
                  </div>
                </div>

                <div class="date-row">
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">18</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">19</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">20</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">21</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">22</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">23</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">24</span>
                    </label>
                  </div>
                </div>

                <div class="date-row">
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">24</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">26</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">27</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">28</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">29</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">30</span>
                    </label>
                  </div>
                  <div class="date-col">
                    <label for="#">
                      <input type="checkbox" name="bookingdate">
                      <span class="date">31</span>
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <div class="modal-footer-left">
              <div class="form-group form-with-icon">
                <span class="form-icon"><span class="fa fa-male"></span></span>
                <select name="guest" id="guest" class="form-control">
                  <option value="2">+2 guests</option>
                  <option value="3">+3 guests</option>
                  <option value="4">+4 guests</option>
                </select>
              </div>
            </div>
            <div class="modal-footer-right">
              <a href="checkout.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </section>

  <footer id="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>About Us</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <p>Dody Adventure was established in 2012 by Indonesian adventure people who have passions in travelling,
              adventure activities, culture exploration and documentary. Based on our years of experience, skills and
              knowledge, we develop a wide range of trip packages and events that are unique, unforgettable and
              valuable for our customers.</p>
            <div class="footer-address">
              <ul class="d-flex flex-wrap">
                <li>
                  <span class="fa fa-home"></span>
                  Jl. Serayu 1, Jakarta Pusat 10150
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  +62 81234567890
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="footer-contact">
              <ul>
                <li>
                  <a href="#">
                    <span class="fa fa-envelope"></span>
                    dodyadventure18@gmail.com
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-facebook"></span>
                    dodyadventure18
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-twitter"></span>
                    @dodyadventure18
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="copyright text-center">
              Copyright (c) 2018. Powered by <img src="../img/logo-secondary.png" alt="GOMODO" height="32">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="../lib/js/jquery-slim.min.js"></script>
  <script src="../lib/js/bootstrap.min.js"></script>
  <script src="../js/client.js"></script>
</body>

</html>